.song-cover {
    border: groove;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: relative;
    width: 135px;
    height:135px;
    background: url(../img/default_cover.PNG) no-repeat center;
}

.merchandise {
    border: groove;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: relative;
    width: 135px;
    height:135px;
    background: url(../img/default_merchandise.png) no-repeat center;
}

.avatar {
    border: groove;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: relative;
    width: 135px;
    height:180px;
    background: url(../img/default_avatar.png) no-repeat center;
}

.edit-cover, .edit-avatar, .edit-merchandise {
    text-align: center;
    background-color: #878787;
    opacity: 0.8;
    display: block;
    width: 131px;
    margin-top: -23px;
    margin-left: 2px;
    color: white;
    font-weight: lighter;
}

.edit-cover:hover, .edit-avatar:hover, .edit-merchandise:hover {
    text-decoration: none;
    color: white;
    background-color: #4c4c4c;
}

.form-song input {
    margin-bottom: 15px;
}

.form-song .row {
    margin-left: 20px;
}

.lyric {
    margin-left: 15px;
    width: 703px;
}

#upload-cover, #upload-avatar, #upload-merchandise {
    display: none;
}

label.upload-song {
    font-size: 12pt;
    font-weight: bold;
}

.socmed-add-icon {
    /*background: url(../img/fb-icon.png) no-repeat center;*/
    padding-left: 7px;
    margin-bottom: 18px;
}

.socmed-add-textfield {
    width: 90%;
    float: right;
}

.view-avatar {
    position: relative;
    width: 135px;
    height:180px;
}

.socmed-icon {
    margin-right: 10px;
    margin-bottom: 5px;
}