* {
	padding:0;
	margin:0;
}

html, body {
	height:100%;
	font-family: Verdana;
	font-size: 16px !important;
	line-height: 2em !important;
}

body{
	overflow-x: hidden;
	/*background-color: #EEEEEE !important;*/
}

.container.content{
	padding-top: 120px;
	min-height: 100%;
}

.container h1{
	font-family:'Verdana';
	font-size:60px;
}

.skrollr-desktop body {
	height:100% !important;
}

#skrollr-body {
	height:100%;
	overflow:visible;
	position:relative;
}

.right-menu{
	width: 52px;
	height: 52px;
	display: block;
	padding: 10px;
}

.red-btn{
	padding: 10px;
	background-color: #CA292B;
	color: #FFFFFF;
}

.red-btn:hover{
	background-color: #AF2022;
}

.org-btn{
	padding: 10px;
	background-color: #F79A26;
	color: #FFFFFF;
}

.org-btn:hover{
	background-color: #F78619;
}

.btn-wrapper{
	margin-top: 40px;
	text-align: center;
}

.navbar-home, .navbar-home-fixed{
	position: absolute;
	top: 0;
	z-index: 1;
	margin: auto !important;
	width: 100%;
	text-align: center;
}

.navbar-home-fixed{
	position: fixed;
	display: none;
	background-color: #CA292B;
}

.navbar-collapse{ /*override*/
	max-height: none !important;
}

#up{
	width: 64px;
	height: 64px;
	position: fixed;
	bottom: 64px;
	right: 64px;
	z-index: 1;
	display: none;
}

/*==========HOME============*/
section{
	padding-top: 65px;
	padding-bottom: 60px;
}
section h2{
	font-family:'Verdana';
	font-size: 48px;
	margin: 0 0 40px 0;
}

section h2 a{
	color: rgb(0,0,0);
}

section h2 a:hover{
	color: #CA292B;
	text-decoration: none;
}

hr.hr-home{
	width: 60%;
    margin: 20px auto 20px auto;
    border-top: 2px #BBBBBB solid;
}

#banner{
	height: 100%;
}

#about_us{
	text-align: center;
	background-color: #F9F9F9;
}

/*.about-us-bg-home{
	height: 100%;
	width:100%;
	background-color: #F9F9F9;
}*/

#gap{
	height: 50%;
	padding: 0;
}

.gap-bg-home{
	height: 100%;
	background-image:url(/assets/img/gap_bg.jpg);
	background-size: cover;
	background-position: center;
}

#news{
	/*min-height: 500px;*/
	background-color: #F1F1F1;
}

#news h2{
	/*margin-left: 12px;
	margin-bottom: 20px;*/
	margin: 0px;
	padding: 10px;
	text-align: center;
}

#news ol{
	margin-left: 30px;
}

#news dt a{
	color: rgb(0,0,0);
	text-decoration: underline;
}

.news-bg-home{
	/*background-image: url(/assets/img/news_grad.png);
	background-size:cover;*/
	height: 100%;
	width:100%;
}

.news-cont-left, .news-cont-right{
	padding: 15px 20px 20px 20px;
}

.news-cont-left{
	background-color: #F5D549;
}

.news-cont-right{
	background-color: #F79A26;
}

#song{
	background-image: url(/assets/img/bg_song.jpg);
	background-size: cover;
	background-position: center;
	color: #FFFFFF;
}

#song dt a{
	color: #FFFFFF;
}

#song h2{
	margin-top: 0px;
	margin-left: 12px;
}

#song ol{
	margin-left: 30px;
}

.song-cover-home{
	width: 400px !important;
	margin-right: 25px;
}

#video{
	background-color: #F1F1F1;
}

#video h2{
	text-align: center;
}

#gallery{
	background-color: #F9F9F9;
	text-align: center;
}

#gallery h2{
	text-align: center;
}

.gallery-header{
	text-align:center;
	position:relative;
	float:none !important;
}

#gallery-item-cont{
	position: relative;
	top: 15px;
	width: 100%; 
	margin: 0 auto 60px auto;
}

.gallery-item-slider{
	height: 150px !important;
	margin: 10px;
	border: 5px #999999 solid;
	background-size: cover;
	background-position:center;
}

.gallery-item-home{
	position: absolute;
	background-size: cover;
	background-position: center;
	-webkit-box-shadow: -5px 4px 8px 3px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-moz-box-shadow: -5px 4px 8px 3px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	box-shadow: -5px 4px 8px 3px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#member, #contact_us{
	text-align: center;
}

#merchandise{
	background-color: #F1F1F1;
}

#merchandise h2{
	text-align: center;
}

#member{
	color: #000000;
	background-color: #F9F9F9;
}

.member-img-cont{
	width: 15%;
	margin: 20px;
	display:inline-block;
}

.member-img-home{
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	border-radius:50%;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#contact_us{
	color: #FFFFFF;
	background-color: rgb(202,41,43);
}

#contact_us img{
	margin: 0 10px 10px 0;
}

#contact_us a{
	color: #FFFFFF;
}

#contact_us .link-mail{
	text-decoration: underline;
}

#contact-us-img-logo{
	width: 20%;
}

/*==========HEADER=========*/
.kw-nav-top{
	background-color: #CA292B !important;
	border-color: #921C1E !important;
}

.navbar-nav>li>a:focus, .navbar-nav>li>a:hover{
	background-color: #AF2022 !important;
	color: #FFFFFF !important;
}

.page-scroll{
	color: #FFFFFF !important;
}

/*.page-scroll:hover{
	color: #000000 !important;
}*/

.breadcrumb{
	background-color: transparent !important;
}

.navbar-toggle{
	margin-top: 16px !important;
}

.header-back-batik{
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background-image: url(/assets/img/header_batik3.png);
	background-size: cover;
	background-position: right;
	background-repeat: no-repeat;
	z-index: -1;
}

/*=========ABOUT=========*/
.about-tagline{
	background-color: rgba(244,244,244,0.5);
	padding: 25px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius:25px;
	border-left: 4px solid #333333;
	border-bottom: 4px solid #333333;
	border-top: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
}

/*=========NEWS=========*/
.news-list-item{
	background-color:rgba(255,255,255,0.9);
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius:25px;
	padding:10px 25px 25px 25px !important;
	word-wrap: break-word;
	margin-bottom: 25px;
	border-left: 4px solid #333333;
	border-bottom: 4px solid #333333;
	border-top: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
}

.news-list-date{
	font-style: italic;
	font-size: 0.9em;
	font-weight: bold;
	text-align: right;
}

/*=========EVENT=========*/
.event-list-date{
	font-style: italic;
	font-size: 0.9em;
	font-weight: bold;
}

hr.hr-event{
	margin-top: 0px;
	border-top-color: #AAAAAA;
}


/*=========MEMBER=========*/
.member-list-item{
	text-align: center;
	margin-bottom: 30px;
	font-size: 18px;
}

.member-item-info{
	/*background-color: white;*/
	margin-top: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius:10px;
	padding: 5px;
	height: 85px;
	/*border: 1px #AAAAAA solid;*/
}

.member-item-info hr{
	margin: auto;
	border-top-color: #AAAAAA;
	width: 80%;
}

.member-item-info div a{
	margin: 0 5px;
}

.img-profile{
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	/*border: 3px #CCCCCC solid;*/
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*=========VIDEO=========*/
/*.video-desc{
	height: 250px;
	word-wrap: break-word;
	overflow-y: auto;
	margin-bottom: 50px;
}*/

.video-caption{
	background-color: #CA292B;
	color: #FFFFFF;
	padding: 5px 15px;
	line-height: 1.5em;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 0px;
	height: 0;
}

.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


.video-description{
	line-height:1.5em;
	padding:5px 0;
}

.grid-video{
	width: 28%;
	float: left;
	margin: 15px;
}


/*=========SONG=========*/
.song-cover{
	float: left;
	margin: 0 10px 10px 0;
	width: 100px;
}

.song-desc{
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius:25px;
	background-color: rgba(255,255,255,0.5);
	height: 100px;
	float: left;
	width:60%;
	padding: 0px 10px;
	border-left: 4px solid #333333;
	border-bottom: 4px solid #333333;
	border-top: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	line-height: 20px
}

.song-desc h4{
	margin-bottom: 10px;
}

.song-desc h4 a{
	color: rgb(0,0,0);
}

.song-desc span{
	font-size: 0.8em;
}

.lyric{
	margin-bottom: 50px;
}


/*=========GALLERY=========*/
.album-cover-first, .album-cover{
	margin-bottom:30px;
}

/*.album-cover-photo:after {
    background-color: white;
    content: '';
    display: block;
    position: absolute;
    top: 1px;
    left: 1px;
    right: 1px;
    bottom: 1px;
    z-index: 0;
}*/

.album-cover-desc-cont{
	padding-left:0px !important;
}

.album-cover-desc{
	position: absolute !important;
	bottom: 0;
	width: 100%;
	background-color: rgba(255,255,255,0.8);
	font-size: 1.3em;
	padding: 10px;
	text-align: center;
}

.grid-photo{
	width: 250px;
	float: left;
	margin: 5px;
}

/*=========MERCHANDISE=========*/
.merchandise-item-info, #how-to-buy{
	background-color:rgba(255,255,255,0.9);
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius:25px;
	border-left: 4px solid #333333;
	border-bottom: 4px solid #333333;
	border-top: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	text-align: center;
	line-height: 0.8em;
	padding: 10px;
}

#how-to-buy{
	line-height: 1.5em;
}

#how-to-buy h3{
	margin-top: 10px;
}

.merchandise-item-info strong{
	font-size: 1.3em;
}

.merchandise-item-info hr{
	margin-top: 0px;
	margin-bottom: 10px;
	border-top: 2px #DDDDDD solid;
}

.merchandise-item-info span:last-child{
	font-style: italic !important;
}

hr.hr-merchandise{
	border-top-color: #AAAAAA;
}

/*=========CONTACT=========*/
.mail-notif-success{
	background-color: #7EE874;
	color: #16960B;
	border: 1px #16960B solid;
	padding: 5px 10px;
}

.mail-notif-failed{
	background-color: #E69E9E;
	color: #D90000;
	border: 1px #D90000 solid;
	padding: 5px 10px;
}

/*=========FOOTER=========*/
.footer{
	text-align: center;
	padding: 10px;
	background-color: rgba(0,0,0,0.7);
	color: #FFFFFF;
}

.footer-socmed{
	float:right;
	position: absolute;
	right:10px;
	margin-top:-1px;
}

.footer-powered{
	float:left;
	position: absolute;
	left:10px;
	font-size: 0.8em;
	margin-top:3px;
}

.footer-powered a{
	color: #FFFFFF;
}

.footer-powered a:hover{
	color: #FFFFFF;
}

#back-clouds{
	position:fixed;
	bottom:0;
	z-index:-1;
	height:40%;
	opacity:0.3;
}

#back-becak{
	position:fixed;
	bottom:0;
	z-index:-1;
	height:30%;
	left:10%;
}

/*=========MEDIA QUERY=========*/

@media (min-width: 768px){
	.menu-header{
		padding-top: 22px !important;
    	padding-bottom: 22px !important;
	}
}

@media (max-width: 767px){
	.navbar-brand{
		height: initial !important;
	}

	.footer-socmed{
		float: none;
		position: relative;
		right: 0px;
		margin-top: 0px;
	}
	
	.member-img-cont{
		width: 30%;
	}

	.grid-video{
		width: 97%;
	}
}

@media (min-width:992px) and (max-width: 1199px){
	.page-scroll{
		font-size: 0.9em;
	}
}

@media (min-width:768px) and (max-width: 991px){
	.page-scroll{
		font-size: 0.7em;
	}

	.nav>li>a{
	    padding-left: 9px !important;
	    padding-right: 9px !important;
	}

	.member-img-cont{
		width: 25%;
	}

	.grid-video{
		width: 45%;
	}
}

@media (max-width: 350px){
	.song-desc{
		width: 100%;
	}

	.member-img-cont{
		width: 50%;
	}
}