* {
	padding:0;
	margin:0;
}

html, body {
	height:100%;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 16px !important;
	line-height: 2em !important;
}

body{
	overflow-x: hidden;
	background-color: #EEEEEE !important;
}

.container.content{
	padding-top: 120px;
}

.container h1{
	 font-family:'Alex Brush';
	 font-size:60px;
}

.skrollr-desktop body {
	height:100% !important;
}

#skrollr-body {
	height:100%;
	overflow:visible;
	position:relative;
}

.right-menu{
	width: 52px;
	height: 52px;
	display: block;
	padding: 10px;
}

/*==========HOME============*/
#banner{
	height: 100%;
}

#about_us{
	text-align: center;
	border-top: 3px #666666 solid;
	border-bottom: 3px #666666 solid;
}

.about-us-bg-home{
	/*background-image: url(/assets/img/about_grad.jpg);
	background-repeat: round;*/
	height: 100%;
	width:100%;
	/*background-color: #FFD000;*/
	background-color: rgb(250,235,135);
}

#news{
	min-height: 500px;
	border-bottom: 3px #666666 solid;
}

#news h2{
	margin-left: 12px;
	margin-bottom: 20px;
}

#news ol{
	margin-left: 30px;
}

.news-bg-home{
	background-image: url(/assets/img/news_grad.jpg);
	background-size:cover;
	height: 100%;
	width:100%;
}

#song, #video{
	background-color: #FFFFFF;
	border-bottom: 3px #666666 solid;
}

#song h2{
	margin-left: 12px;
}

#song ol{
	margin-left: 30px;
}

.song-cover-home{
	/*height: 400px;*/
	width: 400px !important;
	margin-right: 25px;
}

#member, #contact_us{
	color: #FFFFFF;
	text-align: center;
	border-bottom: 3px #666666 solid;
}

#merchandise{
	border-bottom: 3px #666666 solid;
}

#merchandise h2{
	text-align: center;
}

#member{
	background-color: #AAAAAA;
}

#contact_us{
	background-color: #CA292B;
	/*height: 100%;*/
	/*background-image: url('/assets/img/batik_back2.jpg');*/
}

#contact_us img{
	margin: 0 10px 10px 0;
}

/*==========HEADER=========*/
.kw-nav-top{
	background-color: #CA292B !important;
	border-color: #921C1E !important;
}

.navbar-nav>li:hover{
	background-color: #DDDDDD !important;
}

.page-scroll{
	color: #FFFFFF !important;
	/*font-size: 0.8em;
	padding: 6px !important;*/
}

.page-scroll:hover{
	color: #000000 !important;
}

.breadcrumb{
	background-color: transparent !important;
}

.navbar-toggle{
	margin-top: 16px !important;
}

.header-back-batik{
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background-image: url(/assets/img/header_batik2.png);
	background-size: cover;
	background-position: right;
	background-repeat: no-repeat;
	z-index: -1;
}

/*=========ABOUT=========*/
.about-tagline{
	background-color: rgba(244,244,244,0.5);
	padding: 25px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius:25px;
	border-left: 4px solid #333333;
	border-bottom: 4px solid #333333;
	border-top: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
}

/*=========NEWS=========*/
.news-list-item{
	background-color:rgba(255,255,255,0.5);
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius:25px;
	padding:10px 25px 25px 25px !important;
	word-wrap: break-word;
	margin-bottom: 25px;
	border-left: 4px solid #333333;
	border-bottom: 4px solid #333333;
	border-top: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
}

.news-list-date{
	font-style: italic;
	font-size: 0.9em;
	font-weight: bold;
	text-align: right;
}

/*=========MEMBER=========*/
.member-list-item{
	text-align: center;
	margin-bottom: 30px;
	font-size: 18px;
}

.member-item-info{
	background-color: white;
	margin-top: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius:10px;
	padding: 5px;
	height: 110px;
	border: 1px #AAAAAA solid;
}

.img-profile{
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius:25px;
}

/*=========VIDEO=========*/
.video-desc{
	height: 250px;
	word-wrap: break-word;
	overflow-y: auto;
	margin-bottom: 50px;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 0px;
	height: 0;
	margin-bottom: 25px;
}

.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/*=========SONG=========*/
.song-cover{
	float: left;
	margin: 0 10px 10px 0;
	width: 100px;
}

.song-desc{
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius:25px;
	background-color: rgba(255,255,255,0.5);
	height: 100px;
	float: left;
	width:60%;
	padding: 0px 10px;
	border-left: 4px solid #333333;
	border-bottom: 4px solid #333333;
	border-top: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	line-height: 20px
}

.song-desc h4{
	margin-bottom: 10px;
}

.song-desc h4 a{
	color: rgb(0,0,0);
}

.song-desc span{
	font-size: 0.8em;
}

.lyric{
	margin-bottom: 50px;
}


/*=========GALLERY=========*/
.album-cover{
	margin-bottom:30px;
}

.album-cover-desc{
	position: relative;
	width: 100%;
}

.album-cover-desc div{
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: rgba(255,255,255,0.8);
	font-size: 1.3em;
	padding: 10px;
	text-align: center;
}

/*=========FOOTER=========*/
.footer{
	text-align: center;
	padding: 10px;
	background-color: black;
	color: #FFFFFF;
}


@media (max-width: 350px){
	.song-desc{
		width: 100%;
	}
}

@media (min-width: 768px){
	.menu-header{
		padding-top: 22px !important;
    	padding-bottom: 22px !important;
	}
}

@media (max-width: 767px){
	.navbar-brand{
		height: initial !important;
	}

	.header-back-batik{
		background-size: initial;
		height: 65px;
		background-position: top right;
	}

}

@media (min-width:992px) and (max-width: 1199px){
	.page-scroll{
		font-size: 0.9em;
	}
}

@media (min-width:768px) and (max-width: 991px){
	.page-scroll{
		font-size: 0.7em;
	}

	.nav>li>a{
	    padding-left: 10px !important;
	    padding-right: 10px !important;
	}
}